* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

html {
	background: black;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
	background: black;
}

body::-webkit-scrollbar {
	width: 7px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: lightgray;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 20px;
	height: 80px;
	top: 0;
	z-index: 999;
	background-color: 0a0a0a;
	width: 100%;
}

.nav-list {
	display: flex;
	gap: 30px;
	color: white;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.logo-container {
	background-color: 0a0a0a;
}

.letra-estilo {
	color: white;
	font-size: 1.5rem;
}

.border-left {
	border-left: solid 6px red;
}


.btn-menu {
	width: 100%;
	height: auto;
	background-color: rgb(8, 4, 31);
	color: white;
	font-weight: bolder;
}

.btn-menu:hover {
	width: 100%;
	height: auto;
	background-color: rgba(8, 4, 31, 0.700);
	color: white;
	font-weight: bolder;
}

.fechar {
	background-color: rgb(255, 0, 0, 0.600);
	color: white;
	width: 100%;
}

.fechar:hover {
	background-color: rgb(255, 0, 0);
	color: white;
	width: 100%;
}

.btn-about-me:hover {
	background-color: rgba(61, 148, 0, 0.880) !important;
}

.table td, .table th {
	padding: 12px;
}

footer {
	margin-top: auto;
}

.text-footer {
	letter-spacing: 3px;
	text-decoration: none;
}

.text-footer-nome {
	color: white;
	letter-spacing: 3px;
	text-decoration: none;
	border-bottom: 1px dotted;
	transition: all .5s;
}

.text-footer-nome:hover {
	color: red;
	letter-spacing: 7px;
	text-decoration: none;
	border-bottom: 1px dotted;
}

.bg-color {
	background-color: rgb(8, 4, 31);
}

.bg-color-red {
	background-color: rgb(179, 0, 31);
	transition: all .5s;
}

.bg-color-red:hover {
	background-color: rgba(179, 0, 31, 0.600);
}

.curso-detalhe {
	text-align: center;
}

.invisivel {
	display: none;
}

.title-page {
	text-align: center;
	color: white;
	letter-spacing: 7px;
	text-decoration: none;
	text-shadow: rgb(8, 4, 31) 3px 3px;
}

.title-page:hover {
	text-align: center;
	color: rgb(8, 4, 31);
	letter-spacing: 7px;
	text-decoration: none;
	text-shadow: white 3px 3px;
}

.borda-arredondada {
	border-radius: 100%;
	border-bottom: 3px red;
}

.card {
	background: black;
	color: white;
	border: none;
}

.card-body {
	background: black;
	color: white;
	border: none;
}

#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width: 90%;
		height: 680px;
	}
	.img-deliverymed img {
		width: 70%;
		height: 680px;
	}
	.img-todo img {
		width: 85%;
		height: 680px;
	}
	.img-games-api img {
		width: 85%;
		height: 680px;
	}
	.project-info {
		text-align: center;
		width: 50%;
	}
	.swiper {
		width: 45vw;
		height: 730px;
	}

	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 300;
		height: 300;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 50;
		height: 50;
	}
	
	.img-contato {
		width: 90;
		height: 90;
	}

	.letter-size-pequeno {
		font-size: 1.6em;
	}
	.letter-size-medio {
		font-size: 2.1em
	}
	.letter-size-grande {
	font-weight: bold;
		font-size: 3.0em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}

.swiper-button-next::after,
.swiper-button-prev::after{
	color: red;
}

.swiper-pagination-bullet-active{
	background-color: red;
	color:red;
}

.nav-btn{
	color: white;
	transition: all .5s;
}
.nav-btn:hover{
	color: red;
	transition: all .5s;
}

.img-contato {
		width: 50;
		height: 50;
	}

@media only screen and (max-width: 400px) and (min-width: 300px) {

#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 100%;
		padding: 10px;
	}
	.project-img img {
		object-fit: cover;
		margin-bottom: 1em;
	}
	.img-api-r6 img {
		width: 100%;
		height: 300px;
	}
	.img-deliverymed img {
		width: 80%;
		height: 300px;
	}
	.img-todo img {
		width: 100%;
		height: 300px;
	}
	.img-games-api img {
		width: 100%;
		height: 300px;
	}
	.project-info {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: start;
	}
	.swiper {
		text-align: center;
		width: 85vw;
		height: 600px;
		transition: all .5s;
	}
	.swiper-slide {
		text-align: center;
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: 30px;
		transition: all .5s;
		text-align: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 150;
		height: 150;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(17px);
		}
		50%{
			transform: translateX(-17px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	
	.img-contato {
		width: 45;
		height: 45;
	}


	.letter-size-pequeno {
		font-size: 0.7em;
	}
	.letter-size-medio {
		font-size: 1.1em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 1.6em;
	}
	.btn-size {
		font-size: 0.8em;
	}
	.menu-size {
		font-size: 0.8rem;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.4rem;
	}
}

@media only screen and (max-width: 500px) and (min-width: 400px) {

	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 100%;
		padding: 10px;
	}
	.project-img img {
		object-fit: cover;
		margin-bottom: 1em;
	}
	.img-api-r6 img {
		width: 100%;
		height: 380px;
	}
	.img-deliverymed img {
		width: 80%;
		height: 380px;
	}
	.img-todo img {
		width: 100%;
		height: 380px;
	}
	.img-games-api img {
		width: 100%;
		height: 380px;
	}
	.project-info {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: start;
	}
	.swiper {
		text-align: center;
		width: 85vw;
		height: 690px;
		transition: all .5s;
	}
	.swiper-slide {
		text-align: center;
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: 30px;
		transition: all .5s;
		text-align: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 180;
		height: 180;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(17px);
		}
		50%{
			transform: translateX(-17px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	
	.img-contato {
		width: 50;
		height: 50;
	}

	.letter-size-pequeno {
		font-size: 0.7em;
	}
	.letter-size-medio {
		font-size: 1.1em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 1.6em;
	}

	.btn-size {
		font-size: 0.8em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.4rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}

}

@media only screen and (max-width: 600px) and (min-width: 500px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 100%;
		padding: 10px;
	}
	.project-img img {
		object-fit: cover;
		margin-bottom: 1em;
	}
	.img-api-r6 img {
		width: 100%;
		height: 460px;
	}
	.img-deliverymed img {
		width: 65%;
		height: 460px;
	}
	.img-todo img {
		width: 100%;
		height: 460px;
	}
	.img-games-api img {
		width: 100%;
		height: 480px;
	}
	.project-info {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: start;
	}
	.swiper {
		text-align: center;
		width: 85vw;
		height: 790px;
		transition: all .5s;
	}
	.swiper-slide {
		text-align: center;
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: 30px;
		transition: all .5s;
		text-align: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 200;
		height: 200;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(17px);
		}
		50%{
			transform: translateX(-17px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}

	.letter-size-pequeno {
		font-size: 0.9em;
	}
	.letter-size-medio {
		font-size: 1.3em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 1.8em;
	}
	.btn-size {
		font-size: 1em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.6rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 700px) and (min-width: 600px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 100%;
		padding: 10px;
	}
	.project-img img {
		object-fit: cover;
		margin-bottom: 1em;
	}
	.img-api-r6 img {
		width: 100%;
		height: 560px;
	}
	.img-deliverymed img {
		width: 80%;
		height: 560px;
	}
	.img-todo img {
		width: 100%;
		height: 560px;
	}
	.img-games-api img {
		width: 100%;
		height: 560px;
	}
	.project-info {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: start;
	}
	.swiper {
		text-align: center;
		width: 70vw;
		height: 880px;
		transition: all .5s;
	}
	.swiper-slide {
		text-align: center;
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: 30px;
		transition: all .5s;
		text-align: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 220;
		height: 220;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(17px);
		}
		50%{
			transform: translateX(-17px);
		}
	}
	
	.img-habilidades {
		width: 45;
		height: 45;
	}
	
	.img-contato {
		width: 57;
		height: 57;
	}

	.letter-size-pequeno {
		font-size: 1em;
	}
	.letter-size-medio {
		font-size: 1.5em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.2em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.8rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 800px) and (min-width: 700px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 100%;
		padding: 10px;
	}
	.project-img img {
		object-fit: cover;
		margin-bottom: 1em;
	}
	.img-api-r6 img {
		width: 100%;
		height: 600px;
	}
	.img-deliverymed img {
		width: 80%;
		height: 600px;
	}
	.img-todo img {
		width: 100%;
		height: 600px;
	}
	.img-games-api img {
		width: 100%;
		height: 600px;
	}
	.project-info {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: start;
	}
	.swiper {
		text-align: center;
		width: 65vw;
		height: 950px;
		transition: all .5s;
	}
	.swiper-slide {
		text-align: center;
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: 30px;
		transition: all .5s;
		text-align: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 270;
		height: 270;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(17px);
		}
		50%{
			transform: translateX(-17px);
		}
	}
	
	.img-habilidades {
		width: 45;
		height: 45;
	}

	.letter-size-pequeno {
		font-size: 1em;
	}
	.letter-size-medio {
		font-size: 1.5em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.2em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.8rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 100%;
		padding: 10px;
	}
	.project-img img {
		object-fit: cover;
		margin-bottom: 1em;
	}
	.img-api-r6 img {
		width: 100%;
		height: 600px;
	}
	.img-deliverymed img {
		width: 80%;
		height: 600px;
	}
	.img-todo img {
		width: 100%;
		height: 600px;
	}
	.img-games-api img {
		width: 100%;
		height: 600px;
	}
	.project-info {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: start;
	}
	.swiper {
		text-align: center;
		width: 65vw;
		height: 920px;
		transition: all .5s;
	}
	.swiper-slide {
		text-align: center;
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: 30px;
		transition: all .5s;
		text-align: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 270;
		height: 270;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(17px);
		}
		50%{
			transform: translateX(-17px);
		}
	}
	
	.img-habilidades {
		width: 45;
		height: 45;
	}

	.img-contato {
		width: 65;
		height: 65;
	}
	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 900px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 100%;
		padding: 10px;
	}
	.project-img img {
		object-fit: cover;
		margin-bottom: 1em;
	}
	.img-api-r6 img {
		width: 100%;
		height: 730px;
	}
	.img-deliverymed img {
		width: 80%;
		height: 730px;
	}
	.img-todo img {
		width: 100%;
		height: 730px;
	}
	.img-games-api img {
		width: 100%;
		height: 730px;
	}
	.project-info {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: start;
	}
	.swiper {
		text-align: center;
		width: 65vw;
		height: 1060px;
		transition: all .5s;
	}
	.swiper-slide {
		text-align: center;
		display: inline-block;
		justify-content: center;
		align-items: center;
		padding: 30px;
		transition: all .5s;
		text-align: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 300;
		height: 300;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(17px);
		}
		50%{
			transform: translateX(-17px);
		}
	}
	
	.img-habilidades {
		width: 50;
		height: 50;
	}
	.img-contato {
		width: 65;
		height: 65;
	}

	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.4em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 2rem;
	}
}

@media only screen and (max-width: 1100px) and (min-width: 990px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width: 85%;
		height: 380px;
	}
	.img-deliverymed img {
		width: 65%;
		height: 380px;
	}
	.img-todo img {
		width: 85%;
		height: 380px;
	}
	.img-games-api img {
		width: 85%;
		height: 380px;
	}
	.project-info {
		text-align: center;
		width: 50%;

	}
	.swiper {
		width: 70vw;
		height: 490px;
	}
	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	.img-contato {
		width: 65;
		height: 65;
	}

	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 1100px) {
		#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width: 85%;
		height: 420px;
	}
	.img-deliverymed img {
		width: 65%;
		height: 420px;
	}
	.img-todo img {
		width: 85%;
		height: 420px;
	}
	.img-games-api img {
		width: 85%;
		height: 420px;
	}
	.project-info {
		text-align: center;
		width: 50%;

	}
	.swiper {
		width: 70vw;
		height: 490px;
	}
	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	.img-contato {
		width: 65;
		height: 65;
	}

	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
		font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 1300px) and (min-width: 1200px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width: 85%;
		height: 460px;
	}
	.img-deliverymed img {
		width: 65%;
		height: 460px;
	}
	.img-todo img {
		width: 85%;
		height: 460px;
	}
	.img-games-api img {
		width: 85%;
		height: 460px;
	}
	.project-info {
		text-align: center;
		width: 50%;
	}
	.swiper {
		width: 70vw;
		height: 510px;
	}

	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	.img-contato {
		width: 65;
		height: 65;
	}

	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
	font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 1400px) and (min-width: 1300px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width:	90%;
		height: 500px;
	}
	.img-deliverymed img {
		width: 70%;
		height: 500px;
	}
	.img-todo img {
		width: 90%;
		height: 500px;
	}
	.img-games-api img {
		width: 90%;
		height: 500px;
	}
	.project-info {
		text-align: center;
		width: 50%;
	}
	.swiper {
		width: 70vw;
		height: 550px;
	}

	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	
	.img-contato {
		width: 65;
		height: 65;
	}

	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
	font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 1500px) and (min-width: 1400px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width:	90%;
		height: 540px;
	}
	.img-deliverymed img {
		width: 70%;
		height: 540px;
	}
	.img-todo img {
		width: 90%;
		height: 540px;
	}
	.img-games-api img {
		width: 90%;
		height: 540px;
	}
	.project-info {
		text-align: center;
		width: 50%;
	}
	.swiper {
		width: 70vw;
		height: 570px;
	}

	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	.img-contato {
		width: 65;
		height: 65;
	}
	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
	font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 1600px) and (min-width: 1500px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width:	80%;
		height: 560px;
	}
	.img-deliverymed img {
		width: 65%;
		height: 560px;
	}
	.img-todo img {
		width: 80%;
		height: 560px;
	}
	.img-games-api img {
		width: 80%;
		height: 560px;
	}
	.project-info {
		text-align: center;
		width: 50%;
	}
	.swiper {
		width: 70vw;
		height: 610px;
	}

	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
.img-contato {
		width: 70;
		height: 70;
	}
	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
	font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 1700px) and (min-width: 1600px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width:	80%;
		height: 600px;
	}
	.img-deliverymed img {
		width: 65%;
		height: 600px;
	}
	.img-todo img {
		width: 80%;
		height: 600px;
	}
	.img-games-api img {
		width: 80%;
		height: 600px;
	}
	.project-info {
		text-align: center;
		width: 50%;
	}
	.swiper {
		width: 70vw;
		height: 620px;
	}

	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	.img-contato {
		width: 75;
		height: 75;
	}

	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
	font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}


@media only screen and (max-width: 1800px) and (min-width: 1700px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width: 85%;
		height: 640px;
	}
	.img-deliverymed img {
		width: 65%;
		height: 640px;
	}
	.img-todo img {
		width: 85%;
		height: 640px;
	}
	.img-games-api img {
		width: 85%;
		height: 640px;
	}
	.project-info {
		text-align: center;
		width: 50%;
	}
	.swiper {
		width: 70vw;
		height: 690px;
	}

	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	.img-contato {
		width: 86;
		height: 86;
	}

	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
	font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
	#projetos {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}
	.project-img {
		width: 50%;
	}
	.project-img img {
		object-fit: cover;
		width: 80%;
	}
	.img-api-r6 img {
		width: 85%;
		height: 680px;
	}
	.img-deliverymed img {
		width: 65%;
		height: 680px;
	}
	.img-todo img {
		width: 85%;
		height: 680px;
	}
	.img-games-api img {
		width: 85%;
		height: 680px;
	}
	.project-info {
		text-align: center;
		width: 50%;
	}
	.swiper {
		width: 70vw;
		height: 730px;
	}

	.swiper-slide {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 30px;
	}
	.alinhar-center-horizontal{
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.div-img {
		width: 100%;
		display: inline-block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.img-home {
		width: 250;
		height: 250;
		animation: float 5s ease-in-out infinite;
		box-shadow: 0 2px 5px red;
		border-radius: 50%;
	}
	@keyframes float{
		0%, 100%{
			transform: translateX(25px);
		}
		50%{
			transform: translateX(-25px);
		}
	}
	
	.img-habilidades {
		width: 35;
		height: 35;
	}
	
	.img-contato {
		width: 86px;
		height: 86px;
	}

	.letter-size-pequeno {
		font-size: 1.1em;
	}
	.letter-size-medio {
		font-size: 1.6em
	}
	.letter-size-grande {
	font-weight: bold;
		font-size: 2em;
	}
	.btn-size {
		font-size: 1.3em;
	}
	.logo {
		font-family: "Handlee", cursive;
		font-size: 1.9rem;
	}
	.modal {
		width: 180px;
	}
	.modal-content {
		width: 180px;
	}
}