<html lang="pt-br">

<head th:replace="~{header :: head}"></head>
<body>
<div th:replace="~{header :: logo}"></div>
<div class="container">
    <div class="card">
        <div class="row linhar-center-horizontal">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                <div class="card-body text-center ">
                    <div class="div-img p-0 m-0">
                        <img class="img-home borda-arredondada" src="../img/perfil.jpg"/>
                    </div>
                </div>
            </div>
            <div class="mb-3 mt-5 text-center col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 p-0 m-0">
                <p class="m-0 p-0 letter-size-pequeno">OLÁ, MEU NOME É</p>
                <p class="letter-size-grande" style="margin: 0; padding: 0;">
                    VITOR <span style="margin: 0; padding: 0; color: red;">SOUZA</span>
                </P>
                <p class="mb-3 p-0 letter-size-pequeno"
                   style="letter-spacing: 7px;">DESENVOLVEDOR JAVA BACKEND</p>
                <div class="text-center mb-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/javaa.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/spring.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/docker.png"/>
                    <img class="img-habilidades borda-arredondada mr-1 bg-light" src="../img/github.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/aws.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/amazonS3.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/amazonEC2.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/amazonRDS.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/mssqlserver.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/html.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/css.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/js.png"/>
                    <img class="img-habilidades borda-arredondada mr-1" src="../img/bootstrap.png"/>
                </div>
            </div>
        </div>
    </div>

    <div class="card text-center mb-5">
        <div class="card-body">
            <p class="p-0">
                <span class="border-left letter-size-grande">EXPERIÊNCIAS</span>
            </p>
            <p class="p-0 mb-0 letter-size-medio">Desenvolvedor Java Backend Jr</p>
            <p class="p-0 mb-0 letter-size-pequeno"><img class="img-habilidades borda-arredondada mb-1" src="../img/abs.png"/>ABS - Asset Banking System</p>
            <p class="p-0 mb-3 letter-size-pequeno">(Julho/22 - Até o momento)</p>

            <div class="letter-size-pequeno">
                <p class="p-0 mb-1">&sdot; Desenvolvimento de microsserviços com Spring</p>
                <p class="p-0 mb-1">&sdot; Criação/Manutenção de REST API's</p>
                <p class="p-0 mb-1">&sdot; Correção de bugs e criação de novas funcionalidades</p>
                <p class="p-0 mb-1">&sdot; Manutenção de procedures no banco de dados (SQL Server)</p>
                <p class="p-0 mb-1">&sdot; Desenvolvimento de scripts em SQL</p>
                <p class="p-0 mb-1">&sdot; Gitflow</p>
            </div>

            <hr style="width: 50px; text-align: center; margin: auto;" class="mb-5 mt-5">

            <p class="p-0 mb-0 letter-size-medio">Estagiário de TI</p>
            <p class="p-0 mb-0 letter-size-pequeno"><img class="img-habilidades borda-arredondada mb-1" src="../img/bradesco-seguros.png"/>Bradesco Seguros</p>
            <p class="p-0 mb-3 letter-size-pequeno">(Junho/21 - Junho/22)</p>

            <div class="letter-size-pequeno">
                <p class="p-0 mb-1">&sdot; Validações diárias de dados com SQL</p>
                <p class="p-0 mb-1">&sdot; Criação de processos com SQL e VBA Excel</p>
                <p class="p-0 mb-1">&sdot; Participação de vilas ágeis</p>
                <p class="p-0 mb-1">&sdot; Apoio aos PO´s/Scrum Master</p>
            </div>
        </div>
    </div>

    <div class="card text-center mb-5">
        <div class="card-body">
            <p class="p-0">
                <span class="border-left letter-size-grande">FORMAÇÃO</span>
            </p>
            <p class="p-0 mb-0 letter-size-medio">Análise e Desenvolvimento de Sistemas</p>
            <p class="p-0 mb-3 letter-size-pequeno"><img class="img-habilidades borda-arredondada mb-1" src="../img/uam.png"/>(Universidade Anhembi Morumbi - Mooca)</p>
        </div>
    </div>

    <section id="projetos">
        <div class="card text-center mb-5">
            <div class="card-body">
                <p class="mb-3">
                    <span class="border-left letter-size-grande">PROJETOS</span>
                </p>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="project-img img-todo">
                                <img src="/img/ABSPORTFOLIO.png">
                            </div>
                            <div class="project-info text-center">
                                <p class="p-0 mb-3 letter-size-medio">ABS Portfolio (ABSWEB)</p>
                                <p class="p-0 mb-3 letter-size-pequeno">Atuo profissionalmente neste projeto como DESENVOLVEDOR BACKEND JAVA JUNIOR.</p>
                                <p class="p-0 mb-3 letter-size-pequeno">Desenvolvo microsserviços com Spring, Criação/Manutenção de REST API's, Manutenção de procedures no banco de dados (SQL Server), etc.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="project-img img-todo">
                                <img src="/img/painel OV.png">
                            </div>
                            <div class="project-info text-center">
                                <p class="p-0 mb-3 letter-size-medio">Painel de Performance OV (Bradesco)</p>
                                <p class="p-0 mb-3 letter-size-pequeno">Não atuei como desenvolvedor neste projeto, mas atuei ddando apoio aos SCRUMS MASTER e ao PO.</p>
                                <p class="p-0 mb-3 letter-size-pequeno">Trabalhei em vilas ágeis de desenvolvimento (scrum), definindo histórias, refinando backlog e homologando a ferramenta.</p>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="project-img img-todo">
                                <img src="/img/TODOAPP.png">
                            </div>
                            <div class="project-info text-center">
                                <p class="p-0 mb-3 letter-size-medio">ToDo App (AWS)</p>
                                <p class="p-0 mb-3 letter-size-pequeno">O deploy dessa aplicação foi feita na AWS com EC2, S3 e RDS. Aplicação desenvolvida com Spring Boot, HTML e CSS.</p>
                                <ul class="list-group list-group-flush m-0 p-0">
                                    <li style="list-style-type: none;"><a href="http://ec2-3-208-20-29.compute-1.amazonaws.com:8080/login" target="_blank" class="btn btn-outline-danger mb-2 letter-size-pequeno " style="transition: all .5s">Visite o site na AWS</a></li>
                                    <li style="list-style-type: none;"><a href="https://github.com/vsouzx/ToDo_Webapp" target="_blank" class="btn btn-outline-light m-2 mb-2 letter-size-pequeno" style="transition: all .5s">Código-fonte no github</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="project-img img-api-r6">
                                <img src="/img/projeto-microservices.png">
                            </div>
                            <div class="project-info text-center">
                                <p class="p-0 mb-3 letter-size-medio">Fórum de dúvidas e repostas</p>
                                <p class="p-0 mb-3 letter-size-pequeno">Integração entre microsservicos usando Spring Boot e Spring Cloud.</p>
                                <ul class="list-group list-group-flush m-0 p-0">
                                    <li style="list-style-type: none;"><a href="https://github.com/vsouzx/forum-duvidas-microsservicos" target="_blank" class="btn btn-outline-light m-2 letter-size-pequeno" style="transition: all .5s">Código-fonte no github</a></li>
                                    <li style="list-style-type: none;"><a href="https://www.youtube.com/watch?v=YYO__asKxZI" target="_blank" class="btn btn-outline-primary m-2 letter-size-pequeno" style="transition: all .5s">Preview</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="project-img img-api-r6">
                                <img src="/img/projeto3.jpeg">
                            </div>
                            <div class="project-info text-center">
                                <p class="p-0 mb-3 letter-size-medio">API REST RAINBOW SIX</p>
                                <p class="p-0 mb-3 letter-size-pequeno">API desenvolvida com Spring Boot(MVC, DATA e Security). Possui autenticação JWT e documentação com swagger. Banco utilizado foi PostgreSQL.</p>
                                <ul class="list-group list-group-flush m-0 p-0">
                                    <li style="list-style-type: none;"><a href="https://rainbowsix-api.herokuapp.com/swagger-ui.html" target="_blank" class="btn btn-outline-danger mb-2 letter-size-pequeno " style="transition: all .5s">Visite o site no heroku</a></li>
                                    <li style="list-style-type: none;"><a
                                            href="https://github.com/vsouzx/rainbowsix-API-REST"
                                            target="_blank"
                                            class="btn btn-outline-light m-0 letter-size-pequeno"
                                            style="transition: all .5s">Código-fonte no github</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-img img-deliverymed">
                                <img src="/img/projeto1.png">
                            </div>
                            <div class="project-info text-center">
                                <p class="p-0 mb-3 letter-size-medio">Delivery MED</p>
                                <p class="p-0 mb-3 letter-size-pequeno">Desenvolvido com Spring Boot (MVC, Data e Security) + Thymeleaf + Bootstrap + JS.</p>
                                <ul class="list-group list-group-flush m-0 p-0">
                                    <li style="list-style-type: none;"><a href="https://delivery-med-anhembi.herokuapp.com/login" target="_blank" class="btn btn-outline-danger mb-2 letter-size-pequeno " style="transition: all .5s">Visite o site no heroku</a></li>
                                    <li style="list-style-type: none;"><a href="https://github.com/vsouzx/delivery-app" target="_blank" class="btn btn-outline-light m-2 letter-size-pequeno" style="transition: all .5s">Código-fonte no github</a></li>
                                    <li style="list-style-type: none;"><a href="https://www.youtube.com/watch?v=h21HU41zTs0" target="_blank" class="btn btn-outline-primary m-2 letter-size-pequeno" style="transition: all .5s">Preview</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-img img-games-api">
                                <img src="/img/projeto4.jpeg" alt="Projeto delivery med">
                            </div>
                            <div class="project-info text-center">
                                <p class="p-0 mb-3 letter-size-medio">GAMES API REST</p>
                                <p class="p-0 mb-3 letter-size-pequeno">API desenvolvida com Spring Boot(MVC, DATA e Security). Possui autenticação JWT e documentação com swagger. Banco utilizado foi PostgreSQL.</p>
                                <ul class="list-group list-group-flush m-0 p-0">
                                    <li style="list-style-type: none;"><a href="https://games-api-rest-jwt-auth.herokuapp.com/swagger-ui.html" target="_blank" class="btn btn-outline-danger mb-2 letter-size-pequeno " style="transition: all .5s">Visite o site no heroku</a></li>
                                    <li style="list-style-type: none;"><a href="https://github.com/vsouzx/api-rest-JWT-auth" target="_blank" class="btn btn-outline-light m-0 mb-2 letter-size-pequeno" style="transition: all .5s">Código-fonte no github</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <div class="card text-center mb-5">
        <div class="card-body">
            <p class="p-0">
                <span class="border-left letter-size-grande">HARD SKILLS</span>
            </p>

            <p class="p-0 mb-0 letter-size-medio">Back-end</p>
            <div class="letter-size-pequeno">
                <p class="p-0 mb-1">
                    Java &sdot;
                    Spring Boot (Security, Data, MVC) &sdot;
                    Spring Cloud (Gateway, Netflix, OpenFeign) &sdot;
                    JPA &sdot;
                    Hibernate &sdot;
                    Maven &sdot;
                    REST API &sdot;
                    Arquitetura de Microsserviços (Config Server, Discovery, Gateway) &sdot;
                    SQL (DQL, DML, DDL, DCL, DTL, T-SQL)
                </p>
            </div>

            <hr style="width: 50px; text-align: center; margin: auto;" class="mb-3 mt-3">

            <p class="p-0 mb-0 letter-size-medio">Devops</p>
            <div class="letter-size-pequeno">
                <p class="p-0 mb-1">
                    AWS Bucket S3 &sdot;
                    AWS EC2 &sdot;
                    AWS RDS &sdot;
                    Docker &sdot;
                    Docker Swarm &sdot;
                    Conhecimento da cultura Devops (Integração, Entrega e Implantação Contínua)
                </p>
            </div>

            <hr style="width: 50px; text-align: center; margin: auto;" class="mb-3 mt-3">

            <p class="p-0 mb-0 letter-size-medio">Front-end</p>
            <div class="letter-size-pequeno">
                <p class="p-0 mb-1">
                    HTML &sdot;
                    CSS &sdot;
                    Bootstrap &sdot;
                    Javascript</p>
            </div>

            <hr style="width: 50px; text-align: center; margin: auto;" class="mb-3 mt-3">

            <p class="p-0 mb-0 letter-size-medio">Outros (Ferramentas e conhecimentos)</p>
            <div class="letter-size-pequeno">
                <p class="p-0 mb-1">
                    IntelliJ &sdot;
                    Postman &sdot;
                    Redis &sdot;
                    Metodologias Ágeis (Scrum) &sdot;
                    GitFlow &sdot;
                    Git e github &sdot;
                    Jira &sdot;
                    Confluence &sdot;
                    Bitbucket &sdot;
                    Slack
                </p>
            </div>
        </div>
    </div>

    <div id="contato" class="card text-center">
        <div class="card-body">
            <p class="mb-3">
                <span class="border-left letter-size-grande">CONTATO</span>
            </p>

            <ul class="list-group list-group-flush m-0 p-0">
                <li style="list-style-type: none;"><a href="https://www.linkedin.com/in/vitor-souzaa/" target="_blank" class="btn btn-outline-primary mb-2 letter-size-pequeno " style="transition: all .5s">Linkedln</a></li>
                <li style="list-style-type: none;"><a href="https://wa.me/5511945366321" target="_blank" class="btn btn-outline-light m-0 mb-2 letter-size-pequeno" style="transition: all .5s">(11) 94536-6321</a></li>
            </ul>
        </div>
    </div>
</div>
<footer th:replace="~{header :: footer}"></footer>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>