<html lang="pt-br">

<head th:replace="~{header :: head}"></head>
<body>

	<div th:replace="~{header :: logo}"></div>

	<div class="container">
		<div class="card">
			<div class="row linhar-center-horizontal">
				<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
					<div class="card-body text-center ">
						<div class="div-img p-0 m-0">
							<img class="img-home borda-arredondada" src="../img/perfil.jpg" />
						</div>
					</div>
				</div>
				<div
					class="mb-3 text-center col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 p-0 m-0">
					<br>
					<p class="m-0 p-0 letter-size-pequeno">OLÁ, MEU NOME É</p>
					<p class="letter-size-grande" style="margin: 0; padding: 0;">
						VITOR <span style="margin: 0; padding: 0; color: red;">SOUZA</span>
					</P>
					<p class="mb-3 p-0 letter-size-pequeno"
						style="letter-spacing: 7px;">DESENVOLVEDOR JAVA WEB</p>

					<div
						class="text-center mb-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
						<img class="img-habilidades borda-arredondada mb-1"
							src="../img/javaa.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/springboot.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/spring.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/mysql.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/postgre.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/mssqlserver.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/html.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/css.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/js.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/bootstrap.png" /> <img
							class="img-habilidades borda-arredondada mb-1 bg-light"
							src="../img/github.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/docker.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/eclipse.png" /> <img
							class="img-habilidades borda-arredondada mb-1"
							src="../img/netbeans.png" />
					</div>
				</div>
			</div>
		</div>

		<div class="card text-center mb-5">
			<div class="card-body">
				<p class="p-0">
					<span class="border-left letter-size-grande">EXPERIÊNCIA</span>
				</p>

				<p class="p-0 mb-0 letter-size-medio">Desenvolvedor Java Backend
					Jr</p>
				<p class="p-0 mb-0 letter-size-pequeno"><img class="img-habilidades borda-arredondada mb-1"
							src="../img/abs.png" />ABS- Asset Banking System</p>
				<p class="p-0 mb-3 letter-size-pequeno">(Julho/22 - Até o
					momento)</p>
				<div class="letter-size-pequeno">
					<p class="p-0 mb-1">-Desenvolvimento de API's REST com Spring Boot</p>
					<p class="p-0 mb-1">-Desenvolvimento de microserviços com Spring Cloud</p>
					<p class="p-0 mb-1">-Correção de bugs e criação de novas funcionalidades</p>
					<p class="p-0 mb-1">-Manutenção de procedures no banco de dados (SQL Server) </p>
				</div>
				<br>
				<hr style="width: 50px; text-align: center; margin: auto;"
					class="p-0">
				<br>
				<p class="p-0 mb-0 letter-size-medio">Estagiário de TI</p>
				<p class="p-0 mb-0 letter-size-pequeno"><img class="img-habilidades borda-arredondada mb-1"
							src="../img/bradesco-seguros.png" />Bradesco Seguros</p>
				<p class="p-0 mb-3 letter-size-pequeno">(Junho/21 - Junho/22)</p>
				<div class="letter-size-pequeno">
					<p class="p-0 mb-1">-Validações diárias de dados com SQL</p>
					<p class="p-0 mb-1">-Criação de processos com SQL e VBA Excel</p>
					<p class="p-0 mb-1">-Participação de vilas ágeis</p>
					<p class="p-0 mb-1">-Apoio aos PO´s/Scrum Master</p>
				</div>
			</div>
		</div>


		<div class="card text-center mb-5">
			<div class="card-body">
				<p class="p-0">
					<span class="border-left letter-size-grande">FORMAÇÃO</span>
				</p>
				<p class="p-0 mb-0 letter-size-medio">Análise e Desenvolvimento
					de Sistemas</p>
				<p class="p-0 mb-3 letter-size-pequeno">(UAM - Mooca)</p>
			</div>
		</div>

		<div class="card mb-5 text-center">
			<div class="card-body">
				<p class="p-0">
					<span class="border-left letter-size-grande">REFERÊNCIAS DE
						TRABALHO</span>
				</p>

				<p class="p-0 mb-0 letter-size-medio">Romulo Sulivan Mariano</p>
				<p class="p-0 mb-3 letter-size-pequeno">Gerente de Informações
					Gerenciais</p>
				<p class="p-0 mb-0 letter-size-pequeno">Email:
					@romulo.mariano@bradescoseguros.com.br</p>
			</div>
		</div>



		<section id="projetos">
			<div class="card text-center mb-5">
				<div class="card-body">
					<p class="mb-3">
						<span class="border-left letter-size-grande">PROJETOS</span>
					</p>
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="project-img img-api-r6">
									<img src="/img/projeto-microservices.png" alt="Projeto fórum">
								</div>
								<div class="project-info text-center">
									<p class="p-0 mb-3 letter-size-medio">Fórum de dúvidas e
										repostas</p>
									<p class="p-0 mb-3 letter-size-pequeno">Integração entre
										microsservicos usando Spring Boot e Spring Cloud.</p>
									<ul class="list-group list-group-flush m-0 p-0">
										<li style="list-style-type: none;"><a
											href="https://github.com/vsouzx/forum-duvidas-microsservicos"
											target="_blank"
											class="btn btn-outline-light m-2 letter-size-pequeno"
											style="transition: all .5s">Repositório</a></li>
										<li style="list-style-type: none;"><a
											href="https://www.youtube.com/watch?v=YYO__asKxZI"
											target="_blank"
											class="btn btn-outline-primary m-2 letter-size-pequeno"
											style="transition: all .5s">Preview</a></li>
									</ul>

								</div>
							</div>

							<div class="swiper-slide">
								<div class="project-img img-api-r6">
									<img src="/img/projeto3.jpeg" alt="Projeto delivery med">
								</div>
								<div class="project-info text-center">
									<p class="p-0 mb-3 letter-size-medio">API REST RAINBOW SIX</p>
									<p class="p-0 mb-3 letter-size-pequeno">API desenvolvida
										com Spring Boot, Spring Security + JWT e postgreSQL.
										Futuramente será consumida em Angular.</p>
									<ul class="list-group list-group-flush m-0 p-0">
										<li style="list-style-type: none;"><a
											href="https://rainbowsix-api.herokuapp.com/swagger-ui.html"
											target="_blank"
											class="btn btn-outline-danger mb-2 letter-size-pequeno "
											style="transition: all .5s">Visite o site</a></li>
										<li style="list-style-type: none;"><a
											href="https://github.com/vsouzx/rainbowsix-API-REST"
											target="_blank"
											class="btn btn-outline-light m-0 letter-size-pequeno"
											style="transition: all .5s">Repositório</a></li>
									</ul>

								</div>
							</div>
							<div class="swiper-slide">
								<div class="project-img img-deliverymed">
									<img src="/img/projeto1.png" alt="Projeto delivery med">
								</div>
								<div class="project-info text-center">
									<p class="p-0 mb-3 letter-size-medio">Delivery MED</p>
									<p class="p-0 mb-3 letter-size-pequeno">Desenvolvido com
										Spring Boot, Thymeleaf, Bootstrap, Spring Security e JS.</p>
									<ul class="list-group list-group-flush m-0 p-0">
										<li style="list-style-type: none;"><a
											href="https://delivery-med-anhembi.herokuapp.com/login"
											target="_blank"
											class="btn btn-outline-danger mb-2 letter-size-pequeno "
											style="transition: all .5s">Visite o site</a></li>
										<li style="list-style-type: none;"><a
											href="https://github.com/vsouzx/delivery-app" target="_blank"
											class="btn btn-outline-light m-2 letter-size-pequeno"
											style="transition: all .5s">Repositório</a></li>
										<li style="list-style-type: none;"><a
											href="https://www.youtube.com/watch?v=h21HU41zTs0"
											target="_blank"
											class="btn btn-outline-primary m-2 letter-size-pequeno"
											style="transition: all .5s">Preview</a></li>
									</ul>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="project-img img-todo">
									<img src="/img/projeto2.png" alt="Projeto delivery med">
								</div>
								<div class="project-info text-center">
									<p class="p-0 mb-3 letter-size-medio">To do List</p>
									<p class="p-0 mb-3 letter-size-pequeno">Web app feito com
										Spring Boot, Bootstrap, Thymeleaf e PostgreSQL.</p>
									<ul class="list-group list-group-flush m-0 p-0">
										<li style="list-style-type: none;"><a
											href="https://todo-spring-vitor.herokuapp.com/"
											target="_blank"
											class="btn btn-outline-danger mb-2 letter-size-pequeno "
											style="transition: all .5s">Visite o site</a></li>
										<li style="list-style-type: none;"><a
											href="https://github.com/vsouzx/ToDo_Webapp" target="_blank"
											class="btn btn-outline-light m-2 mb-2 letter-size-pequeno"
											style="transition: all .5s">Repositório</a></li>
										<li style="list-style-type: none;"><a
											href="https://www.youtube.com/watch?v=yPLFta4AqT0"
											target="_blank"
											class="btn btn-outline-primary m-2 letter-size-pequeno"
											style="transition: all .5s">Preview</a></li>

									</ul>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="project-img img-games-api">
									<img src="/img/projeto4.jpeg" alt="Projeto delivery med">
								</div>
								<div class="project-info text-center">
									<p class="p-0 mb-3 letter-size-medio">GAMES API REST</p>
									<p class="p-0 mb-3 letter-size-pequeno">API REST com Spring
										Boot, autenticação com Spring Security + JWT e documentação
										Swagger.</p>
									<ul class="list-group list-group-flush m-0 p-0">
										<li style="list-style-type: none;"><a
											href="https://games-api-rest-jwt-auth.herokuapp.com/swagger-ui.html"
											target="_blank"
											class="btn btn-outline-danger mb-2 letter-size-pequeno "
											style="transition: all .5s">Visite o site</a></li>
										<li style="list-style-type: none;"><a
											href="https://github.com/vsouzx/api-rest-JWT-auth"
											target="_blank"
											class="btn btn-outline-light m-0 mb-2 letter-size-pequeno"
											style="transition: all .5s">Repositório</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</section>

		<div class="card text-center mb-5">
			<div class="card-body">
				<p class="p-0">
					<span class="border-left letter-size-grande">HARD SKILLS</span>
				</p>

				<p class="p-0 mb-0 letter-size-medio">Back-end</p>
				<div class="letter-size-pequeno">
					<p class="p-0 mb-1">Java - Spring Boot - Spring MVC - Spring
						Security - Spring Data - Spring Cloud - Thymeleaf - JPA -
						Hibernate - JDBC - Servlets - API REST - Microsserviços - JUnit</p>
				</div>
				<br>
				<hr style="width: 50px; text-align: center; margin: auto;"
					class="p-0">
				<br>

				<p class="p-0 mb-0 letter-size-medio">Front-end</p>
				<div class="letter-size-pequeno">
					<p class="p-0 mb-1">HTML - CSS - Bootstrap - Javascript</p>
				</div>
				<br>
				<hr style="width: 50px; text-align: center; margin: auto;"
					class="p-0">
				<br>

				<p class="p-0 mb-0 letter-size-medio">Banco de dados</p>
				<div class="letter-size-pequeno">
					<p class="p-0 mb-1">SQL Server - MySQL - PostgreSQL</p>
				</div>
				<br>
				<hr style="width: 50px; text-align: center; margin: auto;"
					class="p-0">
				<br>

				<p class="p-0 mb-0 letter-size-medio">Outros</p>
				<div class="letter-size-pequeno">
					<p class="p-0 mb-1">Git e github - Design Patterns - Clean Code
						- Eclipse - Netbeans - IntelliJ - Maven - Docker - Scrum</p>
				</div>
				<br>
				<hr style="width: 50px; text-align: center; margin: auto;"
					class="p-0">
				<br>
			</div>
		</div>

		<div id="contato" class="card text-center">
			<div class="card-body">
				<p class="mb-3">
					<span class="border-left letter-size-grande">CONTATO</span>
				</p>

				<ul class="list-group list-group-flush m-0 p-0">
					<li style="list-style-type: none;"><a
						href="https://www.linkedin.com/in/vitor-souzaa/" target="_blank"
						class="btn btn-outline-danger mb-2 letter-size-pequeno "
						style="transition: all .5s">Linkedln</a></li>
					<li style="list-style-type: none;"><a
						href="https://wa.me/5511945366321" target="_blank"
						class="btn btn-outline-light m-0 mb-2 letter-size-pequeno"
						style="transition: all .5s">(11) 94536-6321</a></li>
				</ul>

			</div>
		</div>
	</div>
	<footer th:replace="~{header :: footer}"></footer>

	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
	<script src="/js/script.js"></script>
</body>
</html>